{% extends "base.html" %}

{% load bootstrap_tags %}



{% block header %}
<div></div>
{% endblock%}

{% block content %}
    <div class =row>
         <div class="col-sm-3">
            <h3>A little about us:</h3>
            <p>If you have any question about what we do feel free to contact us and we will get back to you as soon as possible</p>
        </div>
        <div class="col-sm-4">
            <form class="form" method="post">
                {% csrf_token %}

                {{ form|as_bootstrap_horizontal }}

                <div class="form-actions">
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
       
    </div>
{% endblock %}