#post_data{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-style: italic;
    color: grey;
}

.active{
    color: #ffffff
}

body{
    padding-top: 48px;
    }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: #06061b;
}


